.el-tabs__item {
	color: #fff;
	font-size: 1.1rem;
	height: 112px;
	font-family: 'Adobe Heiti Std R';
	font-weight: normal;
	padding: 22px 50px 0 50px;
}
.el-tabs__active-bar{
	height: 10px;
	background-color: #0473F9;
}
.el-tabs__item:hover{
	color: #0473F9;
}
.el-tabs__item.is-active{
	color: #0473F9;
}
.el-tabs__nav-wrap::after{
	background-color: #92A6CB;
}
.el-tabs{
	height: 100%;
}
.el-tabs__content{
	margin-top: 25px;
}
.el-table{
	background: none;
	font-size: 1rem;
}
.el-table .cell{
	height: 110px;
	line-height: 110px;
	padding: 0 6px;
	color: #fff;
}
.el-table .el-table__cell{
	padding: 0px;
}
.el-table td.el-table__cell{
	border-bottom: 1px solid rgba(172, 199, 255, 0.15);
	border-top: 1px solid rgba(172, 199, 255, 0);
	border-right: 1px solid rgba(172, 199, 255, 0.15);
}
.el-table td.el-table__cell:last-child{
	border-right: 1px solid rgba(172, 199, 255, 0.15);
}
.el-table td.el-table__cell:first-child{
	border-left: 1px solid rgba(172, 199, 255, 0.15);
}
.el-table__row:first-child td.el-table__cell{
	border-top: 1px solid rgba(172, 199, 255, 0.15);
}
.el-table--border th.el-table__cell{
	border-right: 1px solid rgba(172, 199, 255, 0.15);
}
.el-table tr{
	background: none;
}
.el-table tbody tr{
	cursor: pointer;
}
.el-table tr:last-child{
	position: relative;
	top: -1px;
}
.el-table{
	
}
.el-table--border .el-table__inner-wrapper::after{
	height: 0px
}
.el-table--border::after{
	height: 0px;
}
.el-table__border-left-patch{
	height: 0px;
}
/**
 * 选中效果
 */
.el-table__row:hover td.el-table__cell{
	background-color: rgba(4,115,249,0.1) !important;
	border-bottom: 1px solid #ACC7FF;
	border-top: 1px solid #ACC7FF;
}
.el-table__row:hover td.el-table__cell:last-child{
	border-right: 1px solid #ACC7FF;
}
.el-table__row:hover td.el-table__cell:first-child{
	border-left: 1px solid #ACC7FF;
}
.el-table__row.current-row td.el-table__cell{
	background-color: rgba(4,115,249,0.1) !important;
	border-bottom: 1px solid #ACC7FF;
	border-top: 1px solid #ACC7FF;
}
.el-table__row.current-row td.el-table__cell:last-child{
	border-right: 1px solid #ACC7FF;
}
.el-table__row.current-row td.el-table__cell:first-child{
	border-left: 1px solid #ACC7FF;
}

.el-table::before{
	height: 0px;
}
.el-table__inner-wrapper::before{
	height: 0px;
}
/**
 * 表头
 */
.el-table th.el-table__cell{
	background: rgba(4,115,249,0.9);
	border-top: 1px solid rgba(172, 199, 255, 0.5);
	border-bottom: 1px solid rgba(172, 199, 255, 0.5) !important;
}
.el-table th.el-table__cell:first-child{
	border-left: 1px solid rgba(172, 199, 255, 0.5);
}
.el-table th.el-table__cell:last-child{
	border-right: 1px solid rgba(172, 199, 255, 0.5);
}
/**
 * 滚动条
 */
.el-table__body-wrapper::-webkit-scrollbar{
	width: 10px !important;
	height: 10px !important;
}
.el-table__body-wrapper::-webkit-scrollbar-thumb{
	background: #344972 !important;
	border-radius: 10px;
}
.el-table__body-wrapper::-webkit-scrollbar-track{
	background: #000C2A !important;
	border: 1px solid #31446E;
}
.el-table colgroup col[name='gutter']{
	width: 11px;
}
.el-table__body{
	width: 100% !important;
}
.el-popper{
	font-size: 1rem;
	padding: 0.7rem 1rem;
}
/**
 * 弹出窗
 */
.PopupLayer .el-descriptions{
	font-size: 1rem;
	height: 100%;
	overflow: auto;
	padding: 0px 250px;
}
.PopupLayer .el-descriptions__body{
	background: none;
	color: #fff;
}
.PopupLayer .el-descriptions :not(.is-bordered) .el-descriptions-item__cell{
	padding-bottom: 50px;
}
.PopupLayer .el-descriptions-item__label:not(.is-bordered-label){
	margin-right: 30px;
	color: #92A6CB;
}
.PopupLayer .el-descriptions__body .el-descriptions__table .el-descriptions-item__cell{
	line-height: 1.8;
}
.PopupLayer .el-descriptions__body .el-descriptions__table .el-descriptions__cell{
	line-height: 1.8;
}
.PopupLayer .el-descriptions__content:not(.is-bordered-label) {
	color: #fff;
}
.PopupLayer .el-descriptions__label:not(.is-bordered-label){
	color: #92A6CB;
}
.PopupLayer .el-descriptions__body .el-descriptions__table .el-descriptions__cell{
	font-size: 1.2rem;
}
/**
 * 滚动条
 */
.PopupLayer  ::-webkit-scrollbar {
	width: 6px;
}
.PopupLayer  ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	opacity: 0.2;
	background: #344972 !important;
}
.PopupLayer  ::-webkit-scrollbar-track {
	border-radius: 0;
	background: rgba(49, 68, 110, 0.1) !important;
}

/**
 * ===============================
 */
@media screen and (max-width: 1920px) {
	.el-tabs__item{
		font-size: 1rem;
		height: 36px;
		padding: 0px 10px 0 10px;
		line-height: initial;
	}
	.el-tabs__active-bar{
		height: 3px;
	}
	.el-table .cell{
		height: 36px;
		line-height: 36px;
	}
	.el-tabs__content{
		margin-top: 0px;
	}
	.el-tabs__header{
		margin: 0 0 12px;
	}
	/**
	 * 滚动条
	 */
	.el-table__body-wrapper::-webkit-scrollbar{
		width: 6px !important;
		height: 6px !important;
	}
	.el-table__body-wrapper::-webkit-scrollbar-thumb{
		border-radius: 6px;
	}
	.el-table colgroup col[name='gutter']{
		width: 7px;
	}
	
	/**
	 * 弹出窗
	 */
	.PopupLayer .el-descriptions{
		padding: 0px 40px;
	}
	.PopupLayer .el-descriptions :not(.is-bordered) .el-descriptions-item__cell{
		padding-bottom: 8px;
	}
}