.deviceModelFull {
    width: auto;
    height: auto;
    pointer-events: none !important;
}

.deviceModelFull > .popup-close {
    pointer-events: visible;
}

.deviceCameraModelFull {
    width: auto;
    height: auto;
    pointer-events: none !important;
}

.deviceCameraModelFull > .popup-close {
    pointer-events: visible;
}

.limojiBG {
    width: 1032px;
    height: auto; /*  1326 */
    background-image: url(../../public/3dModel/3d/device/LMCJ/弹窗.png);
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    overflow: hidden;
}

@media (min-width: 1921px) {
    .deviceBoxParent {
        transform: scale(1);
    }
    .deviceCameraBoxParent {
        transform: scale(1);
    }
}

@media (max-width: 1920px) {
    .deviceBoxParent {
        transform: scale(0.3);
    }
    .deviceCameraBoxParent {
        transform: scale(0.3);
    }
}

.deviceBox-close {
    right: 20px !important;
    top: 30px !important;
    font-size: 50px !important;
    height: 50px !important;
    width: 50px !important;
    cursor: pointer !important;
    pointer-events: visible !important;
}

.deviceCameraBox-close {
    right: 30px;
    top: 30px;
    font-size: 50px;
    height: 50px;
    width: 50px;
    cursor: pointer !important;
    pointer-events: visible !important;
}

.limoTitle {
    font-size: 43px;
    font-family: Alibaba PuHuiTi;
    font-weight: bold;
    color: #ffffff;
    line-height: 60px;
    margin: 23px 0 87px 90px;
}

.limoTap {
    width: 489px;
    height: 75px;
    margin-left: 293px;
    text-align: center;
}

.leftTap {
    vertical-align: top;
    font-size: 36px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #ffffff;
    line-height: 75px;
    width: 49%;
    box-sizing: border-box;
    border-top-left-radius: 38px;
    border-bottom-left-radius: 38px;
    border-top: 1px solid #048ef9;
    border-left: 1px solid #048ef9;
    border-bottom: 1px solid #048ef9;
    float: left;
    cursor: pointer;
    pointer-events: visible;
}

.rightTap {
    vertical-align: top;
    font-size: 36px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #ffffff;
    line-height: 75px;
    width: 49%;
    box-sizing: border-box;
    border-top-right-radius: 38px;
    border-bottom-right-radius: 38px;
    border-top: 1px solid #048ef9;
    border-right: 1px solid #048ef9;
    border-bottom: 1px solid #048ef9;
    float: left;
    cursor: pointer;
    pointer-events: visible;
    margin-bottom: 41px;
}

.limoHightLight {
    background-color: #048ef9;
}

.limoContainer {
    width: 852px;
    height: auto;
    margin-left: 69px;
}

.limoKey {
    float: left;
    width: 444px;
    margin-right: 41px;
    text-align: right;
    font-size: 38px;
    font-family: Alibaba PuHuiTi;
    font-weight: 400;
    color: #92a6cb;
    line-height: 70px;
}

.limoKey1 {
    float: left;
    width: 444px;
    margin-right: 41px;
    text-align: right;
    font-size: 38px;
    font-family: Alibaba PuHuiTi;
    font-weight: 400;
    color: #92a6cb;
    line-height: 60px;
}

.limoValue {
    float: left;
    font-size: 38px;
    font-family: Alibaba PuHuiTi;
    font-weight: 400;
    color: #ffffff;
    line-height: 70px;
}

.limoValue1 {
    float: left;
    font-size: 38px;
    font-family: Alibaba PuHuiTi;
    font-weight: 400;
    color: #ffffff;
    line-height: 60px;
}

.limoDeviceWeibao {
    display: none;
}

.fillBox {
    width: 100%;
    height: 40px;
}

.clear {
    clear: both;
}

.duichangLEDplaneBox {
    width: 90px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background-color: black;
    color: #ff0000;
    position: absolute;
}

.outRoadLEDplanes {
    width: 100px;
    height: 92px;
    background-color: black;
    color: #ff0000;
    position: absolute;
}

.outRoadLed4 {
    width: 100%;
    line-height: 22px;
    text-align: center;
}

.outRoadLed4_len {
    width: 200%;
    height: 23px;
    line-height: 22px;
    text-align: center;
    margin-left: -50%;
    transform: scale(0.6);
}

.roomUpText {
    width: 100%;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
}

.outRoadBox3 {
    margin-top: 11px;
}

.outRoadBox2 {
    margin-top: 22px;
}

.outRoadBox1 {
    margin-top: 33px;
}

.outLineRed {
    width: 90%;
    margin-left: 5%;
    height: 0.2px;
    background-color: #ff0000;
}


.roomUpLEDplanes {
    width: 100px;
    height: 32px;
    background-color: black;
    color: #ff0000;
    position: absolute;
}